.contact
{
	background-image: url(..//desktop/1.png);
	height: 1000px;
}

.form-control
{
	border-radius: 0px !important; /*!important removes properties to use bootstrap libs*/
}

.btn
{
	border-radius: 0px !important;
}

h2
{
	text-align: center;
	color: white;
}